body {
	margin: 0px;
	padding: 0px;
	color: white;
	height: 100%;
	font-family: 'Great Vibes';
  	background: url(images/diagon-alley-painting-29.jpg);
	background-size: contain;
}
a{
	color: white;	
}
